
body{
    background-color: brown;
}



.tit{
    display: flex;
    align-items: center;
    color: azure;
    
    justify-content :space-around;
}


.display-1{
    
    text-align: center;
    color: azure;
    font-weight: bold;
}

.display-4{

    text-align: center;
    color: azure;
    font-weight: bold;
}

.col-lg-4
{
   color: azure;
    
}